/bin
/obj
autom4te.cache
config.h.in~
*.o
.deps
Makefile
config.h
config.log
config.status
libtool
stamp-h1
src/wxforms
/dtsguiapp-*.*
/*.cbp
/*.depend
/*.layout
autoscan.log
configure.scan
/src/libdtsapp_gui*
/src/.libs
